body {
    background-image: linear-gradient(45deg, rgb(127, 79, 190), rgb(79, 42, 165));
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora {
    max-width: 240px;
    max-height: 330px;
    width: 0 auto;
    height: auto;
    display: grid flex;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
    background-color: #7a8086;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(22, 22, 22, 0.5);
}

/*light gray for row 1 buttons*/
.button1 {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(58, 57, 57);
    border: none;
    color: white;
}

/*dark gray for rows 2, 3, 4 and 5*/
.button2 {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
}

/*color red for the "= button"*/
.button3 {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(158, 28, 28);
    border: none;
    color: white;
}

/*color yellow for the buttons on the right column*/
.buttonX {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgba(190, 187, 2, 0.726);
    border: none;
    color: white;
}

#visor {
    width: 218px;
    background-color: white;
    height: 30px;
    margin: 4px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}